# Ignore provider binaries and local state cache
.terraform/

# Ignore state files (may contain passwords / sensitive data)
*.tfstate
*.tfstate.*

# Ignore variables files containing secrets
*.tfvars
*.tfvars.json

# Ignore plan files, lock info and misc
*.tfplan
.terraform.tfstate.lock.info
*.txt
*.mp4
*.html
*.php
*.pem
tf_tut/
secrets/
